---
import { BLOG_BASE } from '~/utils/permalinks';
import PostCards from '../structures/PostCards.astro';
import Button from '../common/Button.astro';
import { type PostCardProps as PostData } from '~/components/structures/PostCard.astro';

interface Props {
  title: string;
  data?: Array<PostData>;
  class?: string;
}

const { class: className = '', data = [], title } = Astro.props as Props;
---

<div>
  <div class="flex items-center justify-between mb-6">
    <span class="text-xl md:text-2xl font-bold text-primary">{title}</span>
    <Button
      href={BLOG_BASE}
      type="link"
      variant="underlined"
      text="View All"
      icon="utils/arrow-right"
      iconPosition="right"
      iconClasses="w-2 h-2 text-primary"
    />
  </div>
  <PostCards class={className} data={data} />
</div>
