---
import TableOfContent from '../structures/TableOfContent.astro';
import { type TocItem } from '../structures/TableOfContent.astro';
import SkillsList from '../structures/SkillsList.astro';
import NeedConsultationCard from '../structures/NeedConsultationCard.astro';

interface Props {
  tocItems?: Array<TocItem>;
  tocItemsMode?: 'default' | 'auto';
}

const { tocItems = [], tocItemsMode = 'default' } = Astro.props as Props;
---

<div class="flex flex-col gap-5">
  <div class="flex flex-col gap-5 border-r border-r-accent pr-1">
    {
      tocItems.length === 0 && tocItemsMode === 'default' ? null : (
        <div>
          <span class="block font-heading text-xl text-primary font-bold mb-4">Contents</span>
          <TableOfContent items={tocItems} mode={tocItemsMode} />
        </div>
      )
    }
    <div class="w-full h-px bg-accent"></div>
    <div class="flex flex-col gap-2">
      <span class="font-heading text-xl text-primary font-bold mb-4">My Skills</span>
      <SkillsList class="flex flex-col gap-4" />
    </div>
  </div>
  <div class="hidden md:block">
    <NeedConsultationCard />
  </div>
</div>
