---
import Content from '~/components/common/Content.astro';
import PageLayout from '~/layouts/PageLayout.astro';

import Posts from '~/components/blocks/Posts.astro';
import Projects from '~/components/blocks/Projects.astro';
import Ad from '~/components/structures/Ad.astro';
import NeedConsultationCard from '~/components/structures/NeedConsultationCard.astro';

const metadata = {
  title: 'Главная',
  ignoreTitleTemplate: true,
};
const tocItems = [{ targetId: 'welcome', chapterTitle: 'Глава 1', chapterDescription: 'Добро пожаловать' }];
const breadCrumbLinks = [{ text: 'Главная', href: '/' }];

// Load posts
import { findLatestPosts } from '~/utils/blog';
const posts = await findLatestPosts({ count: 2 });

// Load projects
import { findLatestProjects } from '~/utils/project';
const projects = await findLatestProjects({count: 2});
---

<PageLayout
  {tocItems}
  {breadCrumbLinks}
  {metadata}
  heroItems={[
    {
      title: 'Громкий заголовок',
      description:
        'Какой то дополнительный текст в несколько строк Какой то дополнительный текст в несколько строк Какой то дополнительный текст в несколько строк.',
      bgImage: '~/assets/images/hero-1.webp',
    },
    {
      title: 'Громкий заголовок 2',
      description:
        'Какой то дополнительный текст в несколько строк Какой то дополнительный текст в несколько строк Какой то дополнительный текст в несколько строк. 2',
      bgImage: '~/assets/images/hero-1.webp',
    },
  ]}
>
  <Content>
    <h1>Хроники Бизнес-Следопыта. Пролог.</h1>
    <p>
      Большой бизнес имеет парадный фасад и своё настоящее закулисье. Там, где пахнет не дорогим парфюмом, а молоком,
      жжёным кофе и дымом «сгоревших» ошибок. Именно в закулисье принимаются судьбоносные решения, кипят страсти и
      рождаются истории, о которых не напишут в учебниках.
    </p>
    <h2 id="welcome">Добро пожаловать на мой сайт «Хроники Бизнес-Следопыта».</h2>
    <p>
      Кто такой бизнес-следопыт? Почему бизнес-следопыт? Что это вообще такое? Вот вопросы, которые возникают у моих
      читателей, когда они впервые знакомятся с моим проектом. Этот термин – моя авторская формула профессии, ключ к
      пониманию моей философии. Это не консалтинг в его узком и скучном понимании. В мире, где консалтинг раздроблен на
      профильные специализации, я предлагаю взгляд полного цикла. Бизнес-следопыт – это НЕ «ещё один консультант». Это
      специалист-синтезатор, который «с лупой» в руках идёт по следам проблем и возможностей, изучая организм компании
      целиком: от финансовой анатомии и юридических нервных окончаний до маркетингового кровообращения и культурного
      ДНК. Это искусство расследования: этакий «Шерлок Холмс» только в бизнесе, для которого нет мелочей, а есть улики.
      Мой профессиональный путь протяжённостью в 28 лет – это карта реальных, а не учебных сражений. Я был по обе
      стороны баррикад: как фаундер строительной компании с госконтрактами и биржевой брокер, как кризис-менеджер,
      реанимировавший тонущий молочный комбинат, и как архитектор сложных M&A-сделок. Я невольно оказывался участником
      корпоративных войн и «выплывал» с долей в бизнесе, выстраивал системы продаж с нуля и научился «дышать под водой»
      в периоды кризисов, когда остальные искали спасательные круги. На страницах «Хроник» Вы не найдёте имён, названий
      компаний, фондов или банков. Дело не в скромности. Дело в уважении. Уважении к NDA, которые я подписываю, к людям,
      с которыми мне выпала честь работать, и к правилам игры большого мира. Бизнес – это закрытый клуб, где высшая
      валюта – это discretion, умение хранить тайны. Я – тот, кому доверяют ключи от backstage, и я дорожу этим
      доверием.
    </p>
  </Content>

  <Posts
    title="Познавательно"
    data={posts.map((post, index) => {
      return {
        id: post.id,
        imageSrc: post.image,
        href: post.permalink,
        label: 'Анонс',
        title: (post.excerpt ?? post.title),
        direction: (index % 2) ? 'left' : 'right' as 'left' | 'right',
      };
    })}
  />
  <Projects
    title="Мои проекты"
    layout={{
      columns: 3,
      rows: 1,
      spans: [{ col: 2 }, { col: 1 }],
    }}
    data={
      projects.map((project) => {
        return {
          id: project.id,
          imageSrc: project.image,
          href: project.permalink,
          title: project.title,
          excerpt: project.excerpt ?? "",
        };
      })}
  />
  <Ad />
  <NeedConsultationCard class="md:hidden max-w-full" />
</PageLayout>
