---
import PageLayout from '~/layouts/PageLayout.astro';
import Content from '~/components/common/Content.astro';
import VacanciesForm from '~/components/structures/VacanciesForm.astro';

const metadata = {
  title: 'Vacancies',
  ignoreTitleTemplate: true,
};
const breadCrumbLinks = [
  { text: 'Home', href: '/' },
  { text: 'Vacancies', href: '/vacancies' },
];
---

<PageLayout
  {breadCrumbLinks}
  {metadata}
  heroItems={[
    {
      title: 'Vacancies',
      bgImage: '~/assets/images/pages/contacts.webp',
    },
  ]}
>
  <div>
    <Content>
      <h1>Specialists the Business Pathfinder is Looking For</h1>

      <p>
        As in any business, I am always in search of the best specialists—true professionals in their field.
        Compensation is highly competitive. Work is usually remote, with occasional business trips.
      </p>

      <p>
        The main requirement: you enjoy your professional activity and are driven to reach new heights.
      </p>

      <p>
        You are communicative, responsible, and punctual. You have an innate sense of humor, understand hierarchy,
        and respect your colleagues.
      </p>

      <p>
        I do not care about your age, gender, religion, citizenship, place of residence, or political views.
        What matters to me first are your personal qualities, and second—your professional skills.
      </p>

      <h2>Who I am currently inviting to join my team:</h2>

      <ul>
        <li>Corporate lawyer (preferably with international experience).</li>
        <li>Intellectual property lawyer (preferably with international experience).</li>
        <li>Patent attorney.</li>
        <li>Financial auditor.</li>
        <li>Online assistant (consultant).</li>
      </ul>
    </Content>

    <div class="">
      <VacanciesForm />
    </div>
  </div>
</PageLayout>
