---
import IconSocial from '../common/IconSocial.astro';
import { Socials } from '../common/IconSocial.astro';
import { SOCIALS } from 'astrowind:config';
---

<ul class="flex flex-wrap justify-center md:justify-start items-center gap-2">
  {
    Object.values(Socials).map(
      (social) =>
        SOCIALS[social] && (
          <li>
            <IconSocial type={social} />
          </li>
        )
    )
  }
</ul>
