---
import GalleryItem, { type GalleryItemProps } from './GalleryItem.astro';

export interface GalleryGridProps {
  title?: string;
  items: GalleryItemProps[];
}

const { title, items } = Astro.props as GalleryGridProps;
---

{title && <h2 class="text-3xl font-bold mb-6">{title}</h2>}

<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 list-none p-0 m-0">
  {
    items.map((item) => (
      <li class="w-full">
        <GalleryItem imageUrl={item.imageUrl} alt={item.alt} />
      </li>
    ))
  }
</ul>
