---
import { twMerge } from 'tailwind-merge';
import Button from '../common/Button.astro';
import Modal from '../common/Modal.astro';
import ConsultationForm from './ConsultationForm.astro';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props as Props;

const modalId = `consultation-modal-${crypto.randomUUID()}`;
---

<div
  class={twMerge(
    'w-full max-w-80 flex flex-col items-center border border-[--aw-color-disabled] bg-transparent py-5 gap-4',
    className
  )}
>
  <div class="text-black uppercase font-bold">Need a consultation?</div>
  <Button
    text="Book Now"
    variant="primary"
    size="small"
    type="button"
    icon="utils/arrow-right"
    iconPosition="right"
    iconClasses="w-2 h-2"
    data-modal-open={modalId}
  />
</div>

<Modal id={modalId} title="Book a Consultation">
  <p class="leading-relaxed">
    Fill out the form below to book a consultation. I will review your request and contact you within 48 hours to arrange a convenient time and meeting format.
  </p>
  <ConsultationForm />
</Modal>
