---
import Button from '../common/Button.astro';
---

<div class="flex justify-center">
	<Button
		type="link"
		href="/donate"
		text="Поддержать проект"
		variant="primary"
		size="medium"
	/>
</div>

