---
import IconWatchMethod from '../common/IconWatchMethod.astro';
import { WatchMethod } from '../common/IconWatchMethod.astro';
import Button from '~/components/common/Button.astro';

interface Props {
  watchMethod: WatchMethod;
  link: string;
}

const { watchMethod, link } = Astro.props as Props;

const texts = {
  vk: 'Watch on VK',
  youtube: 'Watch on YouTube',
  rutube: 'Watch on RuTube',
};
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <div class="flex justify-between gap-4 items-center group relative">
    <div class="flex justify-between gap-4 items-center group relative">
      <IconWatchMethod type={watchMethod} size="regular" />
      <div class="font-heading font-bold text-black">{texts[watchMethod]}</div>
    </div>
    <div>
      <Button
        text=""
        variant="primary"
        size="small"
        type="button"
        icon="utils/arrow-right"
        iconPosition="right"
        iconClasses="w-2 h-2 text-white m-0"
        class="p-2"
      />
    </div>
  </div>
</a>
