---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props as Props;
---

<div class={twMerge('content', className)}>
  <slot />
</div>

<style is:global>
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    font-weight: 800;
    font-family: 'PP Right Grotesk', inherit;
    color: var(--aw-color-primary);
  }

  .content h1 {
    font-size: 26px;
  }
  .content h2 {
    font-size: 22px;
  }
  .content h3 {
    font-size: 18px;
  }
  .content h4 {
    font-size: 18px;
  }
  .content h5 {
    font-size: 17px;
  }
  .content h6 {
    font-size: 16px;
  }

  .content p {
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
  }

  .content ul,
  .content ol {
    margin-bottom: 1.25rem;
    padding-left: 1.5rem;
  }

  .content ul {
    list-style-type: disc;
  }

  .content ol {
    list-style-type: decimal;
  }

  .content li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }

  .content b {
    color: var(--aw-color-primary);
    font-weight: 800;
  }

  .content a {
    color: rgb(99, 99, 250);
    text-decoration: underline;
  }
</style>
