---
import BaseLayout from './BaseLayout.astro';
import type { MetaData as MetaDataType } from '~/types';

import Header from '~/components/blocks/Header.astro';
import Footer from '~/components/blocks/Footer.astro';
import Sidebar from '~/components/blocks/Sidebar.astro';
import Hero from '~/components/structures/Hero.astro';
import BreadCrumbs from '~/components/structures/BreadCrumbs.astro';
import Container from '~/components/common/Container.astro';
import Content from '~/components/common/Content.astro';
import SupportButton from '~/components/structures/SupportButton.astro';

import { type HeroItem } from '~/components/structures/Hero.astro';
import { type BreadCrumbLink } from '~/components/structures/BreadCrumbs.astro';

interface Props {
  frontmatter: {
    title?: string;
    tocItemsMode?: 'auto' | 'default';
    heroItems?: Array<HeroItem>;
    metadata?: MetaDataType;
    showSupportButton?: boolean;
  };
  url: string;
}

const { frontmatter, url } = Astro.props as Props;

const breadCrumbLinks: Array<BreadCrumbLink> = [
  { text: 'Home', href: '/' },
  { text: String(frontmatter.title), href: url },
];
---

<BaseLayout {...Astro.props} metadata={frontmatter.metadata}>
  <Header />
  <Container>
    {frontmatter.heroItems && frontmatter.heroItems.length > 0 && <Hero items={frontmatter.heroItems} />}
  </Container>
  <Container class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-5 mb-16">
    <div class="sticky top-24 self-start hidden lg:block">
      <Sidebar tocItemsMode={frontmatter.tocItemsMode} />
    </div>
    <main class="md:col-span-3 min-h-96">
      <BreadCrumbs links={breadCrumbLinks} />
      <div class="flex flex-col gap-14">
        <Content>
          <slot />
        </Content>
        {frontmatter.showSupportButton && <SupportButton />}
      </div>
    </main>
  </Container>
  <Footer />
</BaseLayout>
